D:\vsc_project\DjangoAndWeb\firstproject\mysite\mysite\settings.py
D:\vsc_project\DjangoAndWeb\firstproject\firstProject\firstProject\settings.py
firstproject/firstProject/firstProject/settings.py
firstproject/mysite/mysite/settings.py
mini_project/mini/settings.py
