<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#dd3d31" />
    <meta name="msapplication-TitleColor" content="#dd3d31" />
    <title>{% block title %} 메인 타이틀 {% endblock %}</title>
    <script src="https://kit.fontawesome.com/600ceba5b1.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS only -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    #content {
      margin: 60px 0;
      height: auto;
      min-height: 100%;
      padding-bottom: 24px;
    }

    footer {
      height: 24px;
      position: relative;
      width: 100%;
      padding: 60px;
    }
    </style>
    {% block extra-style %} {% endblock %}
  </head>

  <body style="padding: top 90px">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand mx-5 mb-0 font-weight-bold font-italic text-white" href="{% url 'home' %}">
        SpaceTravel
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'bookmark:index' %}">Bookmark<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'blog:index' %}">Blog<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Photo<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              data-toggle="dropdown"
              >Dropdown<span class="sr-only">(current)</span></a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
              <a class="dropdown-item" href="{% url 'blog:post_archive' %}">Archive</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'blog:search' %}">Search</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id='content' class="container-fliud">
      {% block content %} {% endblock %}
    </div>

    <footer class="bg-info">
      <div class="text-white font-italic text-center">
        <p>Copyright &copy; 2022 Copyright by 박현우</p>
    </footer>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% block extra-scripts %} {% endblock %}
</html>
