<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#dd3d31" />
    <meta name="msapplication-TitleColor" content="#dd3d31" />
    <title>{% block title %} 메인 타이틀 {% endblock %}</title>
    <script src="https://kit.fontawesome.com/600ceba5b1.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS only -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    #content {
      margin: 60px 0;
      height: auto;
      min-height: 100%;
      padding-bottom: 24px;
    }

    footer {
      height: 24px;
      position: relative;
      width: 100%;
      padding: 60px;
    }
    nav {
      backdrop-filter: blur(10px);
      box-shadow: 2px 3px 15px 8px rgba(0,0,0,0.3);
      background-color: rgba(255, 255, 192, 0.068);
    }
    </style>
    {% block extra-style %} {% endblock %}
  </head>

  <body style="padding: top 90px">
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand mx-5 mb-0 font-weight-bold font-italic text-white" href="{% url 'home' %}">
        SpaceTravel
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active p-xl-3">
            <a class="nav-link text-white" href="{% url 'bookmark:index' %}">Bookmark<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active p-xl-3">
            <a class="nav-link text-white" href="{% url 'blog:index' %}">News<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active p-xl-3">
            <a class="nav-link text-white" href="{% url 'photo:index' %}">Album<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown active p-xl-3">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              data-toggle="dropdown"
              >Dropdown<span class="sr-only">(current)</span></a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
              <a class="dropdown-item" href="{% url 'blog:post_archive' %}">Archive</a>
              <a class="dropdown-item" href="{% url 'blog:search' %}">Search Archive</a>
            </div>
          </li>
        </ul>
      
        <form>
          <!-- 회원(로그인/로그아웃/회원가입/비밀번호 변경) Start -->
          <ul class="navbar-nav mx-5">
            <li class="nav-item dropdown mx-1 btn">
                {% if user.is_active %} <!-- 로그인된 상태라면 -->
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                    <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                </div>
                {% else %} <!-- 로그인 안된 상태라면 -->
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                    Login / Register
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                </div>
                {% endif %}
            </li>
        </ul>
        <!-- 회원(로그인/로그아웃/회원가입/비밀번호 변경) End -->
    </div>
        </form>
      </div>
    </nav>

    <div id='content' class="container-fliud">
      {% block content %} 

      {% endblock %}
    </div>

    <footer class="bg-info">
      <div class="text-white font-italic text-center">
        <p>Copyright &copy; 2022 Copyright by 박현우</p>
    </footer>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% block extra-scripts %} {% endblock %}
</html>
