{% extends 'base.html' %} 

{% load static %}
{% block title %} 
홈페이지
{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<h1 class ="site-heading text-center text-faded-none d-lg-block">
  <br>
  <span class="site-heading-upper2 mb-3">Special Memory!</span><br>
  <span class="site-heading-lower2">Make a Perfect time from Space!</span>
</h1>
  <div class="home-image">
    <h2 class="title text-center">Do you want Something Special?</h2>
    <h3 class="title text-center">Than try Space Travel!</h3>
    <h4 class="title text-center">Have a valuable time in space!</h4>
  </div>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img mb-3 mb-lg-0 rounded " src="{% static 'img/selfi.png' %}" alt="">
      </div>
    </div>
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
      <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Special Memory</span>
          <span class="section-heading-upper3">with</span>
          <br>
          <span class="section-heading-lower">Special Selfi</span>
      </h2>
      <p class="section-bottom mb-3">Also, You can experience lots of things!</p>
      <p class="section-bottom mb-3">Eating Space Food, Interesting Science Experience, etc.</p>
  </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="square-section cta-inner text-center">
            <h2 class="section-heading mb-4">
              <span class="site-heading-upper">Our Promise</span>
            </h2>
            <p class="sectiontext mb-0">We do not take any responsibility for your safety.</p>
            <p class="sectiontext mb-0">You're responsible for every safety accident in space.</p>
            <p class="sectiontext mb-0">Have a nice trip to space.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="bttext row text-center">
    <div class="col-sm-6">
      <h4>Travel Adviser (🌕🌕🌕🌕🌗)</h4>
      <p>Best trip with best price!</p>
    </div>
      <div class="col-sm-6">
        <h4>Trivigone (🌕🌕🌕🌕🌕)</h4>
        <p>Perfect!</p>
    </div>
  </div>
{% endblock content%}
