{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

<!-- 제목 블록 Start (기본값 My Blog Page) -->
{% block title %}
My Blog Bookmark Change List Page
{% endblock %}
<!-- 제목 블록 End -->

<!-- 스타일 블록 Start -->
{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/bookmark_list.css' %}">
{% endblock %}
<!-- 스타일 블록 End -->

<!-- 콘텐츠 블록 Start -->
{% block content %}
<br>
<br>
<div class="all">
    <div class="box">
        <h2>
            <span class="bmformtitle">BOOKMARK </span>
            <span class="bmformtitle2">UPDATE/DELETE</span>
            <br>
            <span class="bmformtitle">{{ user }}</span>
        </h2>
            <p class="formdes font-italic">Update or Delete Bookmark</p>
    </div>
<div class="mask d-flex align-items-center h-100">
    <table class="table table-borderless">
        <thead>
            <tr class="table">
                <th>Title</th>
                <th>Url</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr class="tbinfo">
                <td>{{ item.title }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.owner }}</td>
                <td><a href="{% url 'bookmark:update' item.id %}"">Update</a></td>
                <td><a href="{% url 'bookmark:delete' item.id %}"">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
<!-- 콘텐츠 블록 End -->

<!-- 스크립트 블록 Start -->
{% block extra-script %}

{% endblock %}
<!-- 스크립트 블록 End -->"