{% extends 'base.html' %} 
{% load static %}
{% block title %}bookmark_list.html{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/bookmark_list.css' %}">
{% endblock %}

{% block content %}

<div class="intro-text left-0 text-center bg-faded p-5 rounded">
  <br>
  <h2 class="section-heading mb-4">
    
      <span class="section-heading-upper mb-3">Bookmark  </span>
      <span class="section-heading-upper3 mb-3">List</span>
    
  </h2>

  {% if user.is_active %}
    <a class="btn btn-outline-light" style="float: right" href="{% url 'bookmark:change' %}">Edit</a>
    <a class="btn btn-outline-light" style="float: right" href="{% url 'bookmark:add' %}">add</a>
  {% endif %}

  
</div>
{% for bm in object_list %}
<a class="container container1 d-flex justify-content-center" href="{% url 'bookmark:detail' bm.id %}">
  <p class="bookmarksul">{{ bm }}</p>
</a>
{% endfor %}
{% endblock %}
