{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
register_done.html
{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<div class="all">
    <h1 class="text-center">
        <span class="photo-title">REGISTERATION  </span>
        <span class="photo-title2">SUCCESS</span>
    </h1>
<p class="formdes font-italic">Thank you for registering</p>

<div class="offset-sm-6 col-sm-3">
    <a class="btn btn-info btn-light" href="{% url 'login' %}">Log in</a>
</div>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}