{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
register.html
{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<div class="all">
    <h1 class="text-center">
        <span class="photo-title">NEW  </span>
        <span class="photo-title2">REGISTRATION</span>
    </h1>
<p class="formdes font-italic">Please enter your username and password twice</p>

{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">Wrong! Please correct the error below.</div>
    {{ form.errors}}
</div>
{% endif %}

<form action="." method="post" class="pt-3 container">{% csrf_token %}

    <div class="form-group row">
        {{ form.username|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.username|add_class:"form-control"|attr:"autofocus" }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.password1|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.password1|add_class:"form-control" }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.password2|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.password2|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group">
        <div class="offset-sm-6 col-sm-5">
            <input type="submit" value="Register" class="btn btn-info" />
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}