{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock %}

{% block extra-style %}
<style>
  .img {
    width: 250px;
    height: 250px;
  }
  .img:hover {
    width: 300px;
    height: 300px;
    transition: 0.5s ease-out
  }
</style>
<link rel="stylesheet" href="{% static 'css/photo_detail.css' %}">
{% endblock %}

{% block content %}

<br>
<br>
<div class="container">
{% for photo in object.photo_set.all %}
    <img class="img" src="{{ photo.image.url }}" alt="{{ photo }}">
{% endfor %}
</div>

{% if user.is_active %}
    <a class="btn btn-outline-light" style="float: right" href="{% url 'photo:photo_change' %}">change</a>
    <a class="btn btn-outline-light" style="float: right" href="{% url 'photo:photo_add' %}">add</a>
  {% endif %}   
            
{% endblock %}

{% block extra-script %}
{% endblock %}

