{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/photo_detail.css' %}">
{% endblock %}

{% block content %}

<br>
<br>
{% for photo in object.photo_set.all %}
    <img class="img" src="{{ photo.image.url }}" alt="{{ photo }}">
{% endfor %}

{% if user.is_active %}
    <a class="btn btn-outline-light" style="float: right" href="{% url 'photo:photo_change' %}">change</a>
    <a class="btn btn-outline-light" style="float: right" href="{% url 'photo:photo_add' %}">add</a>
  {% endif %}   
            
{% endblock %}

{% block extra-script %}
{% endblock %}

