{% extends 'base.html' %}
{% load static %}

<!-- 제목 블록 Start (기본값 My Blog Page) -->
{% block title %}
My Blog Photo Change Page
{% endblock %}
<!-- 제목 블록 End -->

<!-- 스타일 블록 Start -->
{% block extra-style %}
<style>
    .phototitle1 {
      font-size:80px;
      color: rgb(255, 255, 255);
    }
  
    .phototitle2 {
      font-size:80px;
      color: rgb(40, 167, 69);
    }
  
    .form-group {
      color:aliceblue;
      text-align: center;
      margin-top: 30px;
    }
  
    .box {
      text-align: center;
    }
  
    .form-group {
      color:aliceblue;
      text-align: center;
      margin-top: 30px;
    }
    .table {
  background: rgba(206, 200, 200, 0.25);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  margin-top: 50px;
  max-width: 80%;
  margin-left: 10%;
  text-align: center;
}

.tbinfo {
  color:rgb(255, 255, 255)
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  color:white
}
.formdes {
  color: rgb(40, 167, 69);
  font-size: 30px;
}

  </style>
<link rel="stylesheet" href="{% static 'css/photo_detail.css' %}">
{% endblock %}
<!-- 스타일 블록 End -->

<!-- 콘텐츠 블록 Start -->
{% block content %}
<br>
<br>
<div class="all">
    <div class="box">
        <h2>
            <span class="phototitle1">PHOTO </span>
            <span class="phototitle2">CHANGE</span>
            <br>
            <span class="phototitle1">{{ user }}</span>
        </h2>
        <p class="formdes font-italic">Update or Delete Photo</p>
    </div>

    <table class="table table-borderless">

        <thead>
            <tr class="table">
                <th>Album</th>
                <th>Title</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for item in object_list %}
            <tr class="tbinfo">
                <td>{{ item.album }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.owner }}</td>
                <td><a href="{% url 'photo:photo_update' item.id %}">Update</a></td>
                <td><a href="{% url 'photo:photo_delete' item.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}
<!-- 콘텐츠 블록 End -->

<!-- 스크립트 블록 Start -->
{% block extra-script %}

{% endblock %}
<!-- 스크립트 블록 End -->