{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

<!-- 제목 블록 Start (기본값 My Blog Page) -->
{% block title %}
My Blog Photo Add Page
{% endblock %}
<!-- 제목 블록 End -->

<!-- 스타일 블록 Start -->
{% block extra-style %}
<style>
    .phototitle1 {
      font-size:80px;
      color: rgb(255, 255, 255);
    }
  
    .phototitle2 {
      font-size:80px;
      color: rgb(40, 167, 69);
    }
  
    .form-group {
      color:aliceblue;
      text-align: center;
      margin-top: 30px;
    }
  
    .box {
      text-align: center;
    }
  
    .form-group {
      color:aliceblue;
      text-align: center;
      margin-top: 30px;
    }
    .formdes {
  color: rgb(40, 167, 69);
  font-size: 30px;
}
  </style>
<link rel="stylesheet" href="{% static 'css/photo_detail.css' %}">
{% endblock %}
<!-- 스타일 블록 End -->

<!-- 콘텐츠 블록 Start -->
{% block content %}
<br>
<br>
<div class="all">
    <div class="box">
        <h2>
            <span class="phototitle1">PHOTO </span>
            <span class="phototitle2">CREATE/UPDATE</span>
            <br>
            <span class="phototitle1">{{ user }}</span>
        </h2>
    <p class="formdes font-italic">Upload or Update Photo</p>
    </div>

{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
    {{ form.errors }}
</div>
{% endif %}

{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" class="pt-3 container">
{% else %}
    <form method="post" class="card pt-3">
{% endif %}
        {% csrf_token %}

        <div class="form-group row">
            {{ form.album|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-2">
                {{ form.album|add_class:"form-control" }}
            </div>
            <div class="col-sm-2 my-auto">
                <a href="{% url 'photo:album_add' %}" class="btn btn-outline-primary btn-sm">
                    Add Album</a>
            </div>
        </div>

        <div class="form-group row">
            {{ form.title|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.title|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.image|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.image|add_class:"form-control-file" }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.description|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-8">
                {{ form.description|add_class:"form-control"|attr:"rows:3" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-0 col-sm-5">
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>

    </form>
</div>
{% endblock %}
<!-- 콘텐츠 블록 End -->

<!-- 스크립트 블록 Start -->
{% block extra-script %}

{% endblock %}
<!-- 스크립트 블록 End -->