body {
    background-image: linear-gradient(rgb(22, 11, 7), rgba(47, 23, 15, 0.836)), url('../img/99.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .photo-title{
    font-size: 100px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    text-align: center;
  }
  .photo-title2{
    font-size: 100px;
    color: rgb(40, 167, 69);
    padding-bottom: 10px;
    text-align: center;
  }
  
  .date {
    color:white;
    text-align: center;
  }
