body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../img/33.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

.bookmarksul {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.container {
  backdrop-filter: blur(10px);
  box-shadow: 2px 3px 15px 8px rgba(0,0,0,0.3);
  background-color: rgba(255, 255, 192, 0.068);
  padding: 60px;
}

.objtitle {
  color:rgb(40, 167, 69);
}

.address {
  font-size: 50px;
  color: rgb(255, 255, 255);
}