body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../img/33.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  

.bookmarksul {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    font-family: 'Malgun Gothic', sans-serif;
}

.container1 {
  backdrop-filter: blur(10px);
  box-shadow: 2px 3px 15px 8px rgba(46, 54, 68, 0.03);
  background-color: rgba(255, 255, 192, 0.068);
  height: 100px;
  width: 400px;
  margin-top: 20px;
}

.container1:hover {
  transform:scale3d(1.1,1.1,1.1);
  transition:0.6s;
}

.box {
  text-align: center;
}


.form-group {
  color:aliceblue;
  text-align: center;
  margin-top: 30px;
}

.bmformtitle {
  font-size:80px;
  color: rgb(255, 255, 255);
}

.bmformtitle2 {
  font-size:80px;
  color: rgb(40, 167, 69);
}

.formdes {
  color: rgb(40, 167, 69);
  font-size: 30px;
}

.table {
  background: rgba(206, 200, 200, 0.25);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  margin-top: 50px;
  max-width: 80%;
  margin-left: 10%;
  text-align: center;
}

.tbinfo {
  color:rgb(255, 255, 255)
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  color:white
}
