body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../img/55.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .photo-title{
    font-size: 100px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    text-align: center;
  }
  .photo-title2{
    font-size: 100px;
    color: rgb(40, 167, 69);
    padding-bottom: 10px;
    text-align: center;
  }

  .formdes {
    color: rgb(40, 167, 69);
    font-size: 30px;
    text-align: center;
  }

  .form-group {
    color:aliceblue;
    text-align: center;
    margin-top: 30px;
  }