{% extends "base.html" %}

{% block title %}post_detail.html{% endblock %}

{% block content %}


<h2>{{ post.title }}</h2>

<p class="other_posts">
    {% if post.get_previous %}
    <a href="{{ post.get_previous.get_absolute_url }}" title="View previouspost">
        &laquo;--{{post.get_previous}}</a>
    {% endif %}

    {% if post.get_next %}
    | <a href="{{ post.get_next.get_absolute_url }}"
        title="View next post">{{ post.get_next }}--&raquo;</a>
    {% endif %}
</p>

<p class="date">{{ post.modify_date|date:"j F Y"}}</p>
<br />

<div class="body">
    {{ post.content|linebreaks }}
</div>

<div>
    <a href="/blog/archive">아카이브로 보기</a>
</div>

<br>
<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
        <a href ="{% url 'blog:tagged_object_list' tag.name %}">#{{tag.name}}</a>
    {% endfor %}
    &emsp;
    <a href="{% url 'blog:tag_cloud' %}"> 
        <span class = "btn btn-info btn-sm">TagCloud</span>
    </a>
</div>
    


{% endblock %}