{% extends 'base.html' %}
{% load static %}

{% block title %}search page{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
{% endblock %}

{% block content %}
<br>
    <span class="title">Search </span>
    <span class="title2">Archive</span>
    <form class="form-inline my-2" action="." method="post"> {% csrf_token %}
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="search"
          name="search_word"
        />
        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">
          Search
        </button>
      </form>
      <div class="background">
        <div class="result">
        {% if object_list %}
          {% for post in object_list %}
              <h2>
                <a href='{{ post.get_absolute_url }}'>
                  {{ post.title }}
                </a>
              </h2>
              {{ post.modify_dt|date:"N d, Y" }}
              <p>{{ post.description }}</p>
          {% endfor %}
        
        {% elif search_term %}
          {{ search_term }} not found
        {% endif %}
            </div>
        </div>
{% endblock %}

{% block extra-script %}
{% endblock %}