{% extends "base.html" %}
{% load static %}
{% block title %}taggit_cloud.html{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/tags.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<div class="all">
    <h1 class="text-center">
        <span class="photo-title">BLOG </span>
        <span class="photo-title2">TAGS</span>
    </h1>
    <div class="container py-5">
        <header class="mb-3 text-center">
            <h2 class="mb-0 text-white">New Tags</h2>
        </header>
        <div class="tag-cloud">
            {% load taggit_templatetags2_tags %}
            {% get_tagcloud as tags %}
            {% for tag in tags %}
            {% if tag.num_times %}
            <span class="tag-{{tag.weight|floatformat:0}}">
                <a href="{% url 'blog:tagged_object_list' tag.name %}" {% url 'blog:tagged_object_list' tag.name %}">
                    <div class="badge badge-danger px-3 rounded-pill font-weight-normal">#{{tag.name}}({{tag.num_times}})
                    </div>
                </a>
            </span>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}